extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum massa leo, semper quis elementum ut, interdum et velit. Maecenas tempus massa vitae nisi dictum, vel pulvinar tortor iaculis. Fusce volutpat tristique dolor finibus hendrerit. Mauris in tincidunt arcu. Curabitur vel rutrum sapien, at gravida diam. Pellentesque eu euismod sem. Proin tincidunt ex quis nisl laoreet commodo. Phasellus vitae neque feugiat, dignissim ligula eu, accumsan justo. Maecenas at dolor ipsum.

                p Donec ut justo vitae massa lacinia imperdiet. Praesent pellentesque diam accumsan nisi tempus, commodo tempus mi porta. Nullam eros ligula, efficitur sit amet eleifend ut, ornare sit amet diam. Donec et lacus in ante placerat dapibus. In varius vulputate nibh, at interdum turpis imperdiet a. Aenean leo est, sodales sed tellus non, euismod accumsan felis. Nam congue est a sapien elementum, sed congue mauris fringilla. Nunc vel justo eu diam volutpat eleifend vel ac mauris. 

                p Nulla facilisi. Duis libero sapien, luctus sed sagittis sit amet, varius id elit. Vivamus at suscipit felis, in consequat velit. Nam et turpis blandit, pharetra nibh sed, fringilla eros. Cras aliquam pellentesque odio ac consequat. Nulla imperdiet dictum semper. Morbi rhoncus tortor nec augue tincidunt, euismod commodo metus posuere. Nulla ac aliquet tellus. Mauris eget ligula vel mi accumsan efficitur commodo laoreet purus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nam et turpis blandit, pharetra nibh sed, fringilla eros. Cras aliquam pellentesque odio ac consequat. Nulla imperdiet dictum semper. Morbi rhoncus tortor nec augue tincidunt, euismod commodo metus posuere. Nulla ac aliquet tellus. Mauris eget ligula vel mi accumsan efficitur commodo laoreet purus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nam et turpis blandit, pharetra nibh sed, fringilla eros. Cras aliquam pellentesque odio ac consequat. Nulla imperdiet dictum semper. Morbi rhoncus tortor nec augue tincidunt, euismod commodo metus posuere. Nulla ac aliquet tellus. Mauris eget ligula vel mi accumsan efficitur commodo laoreet purus.
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nam et turpis blandit, pharetra nibh sed, fringilla eros. Cras aliquam pellentesque odio ac consequat. Nulla imperdiet dictum semper. Morbi rhoncus tortor nec augue tincidunt, euismod commodo metus posuere. Nulla ac aliquet tellus. Mauris eget ligula vel mi accumsan efficitur commodo laoreet purus.